COMPOSE_PROJECT_NAME="service_pulse_check"

POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=service_pulse_check
POSTGRES_PORT=5432

DATABASE_URL=postgresql://postgres:postgres@localhost:5432/service_pulse_check

REDIS_PORT=6379
REDIS_URL=redis://localhost:6379
