<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="{{ url_for('web.static', filename='style.css') }}">
</head>
<body>
    <div class="auth-container">
        <h1>Hello, {{ user.username }}</h1>
        <form method="post" action="{{ url_for('web.auth.logout') }}">
            <button type="submit">Logout</button>
        </form>
    </div>
</body>
</html>
